html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}











@font-face {
  font-family: 'Averia Libre';
  font-style: normal;
  font-weight: 400;
  src: local('Averia Libre Regular'), local('AveriaLibre-Regular'), url(/fonts/AveriaLibre-Regular.ttf) format('ttf');
}
@font-face {
  font-family: 'Hanalei Fill';
  font-style: normal;
  font-weight: 400;
  src: local('Hanalei Fill'), local('HanaleiFill-Regular'), url(/fonts/HanaleiFill-Regular.ttf) format('ttf');
}










* {
	
	font-weight: normal;
	font-family: 'Averia Libre', cursive;
	-moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
}
html, body {
    background-color: white;
    height:100%;
    min-height:100%;
    font-size:12px;
    background-color:#111111;

}
h1,h2,h3,h4 {
/*
	font-family: 'Hanalei Fill', cursive;
*/
}

div {
	overflow:auto;
	overflow-y:hidden;
	overflow-x: hidden;
}
img {
	-moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
button {
	-moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.center {
	margin: 0 auto;
}
.textCenter {
	width: 100%;
	text-align:center;
}
.title {
	font-size:50px;
	color:white;
	font-family: 'Hanalei Fill', cursive;
	font-weight:bolder;
	position:absolute;
	top:50px;
	right:50px;
	z-index:50;
}

.left {
	float:left;
}

.view {
	padding:0 20px;
	width:1480;
}
.abs {
	display:block;
	position:absolute;
}


#gameWrapper {
    width:100%;
    margin: 0 auto;
    min-height:1000px;
    overflow:auto;
}










#topView {
	padding:10px;
	position:fixed;
	top:0;
	width:300px;
	z-index: 9999;
}







#gameView {
	height:1080px;
	width:1920px;
	position:relative;
}
#gameView button {
	font-size:40px;
	margin:10px;
	padding:10px;
	background:none;
	border:none;
}
#gameView button:active {
	opacity:0.5;
	border:none;
}
#gameView button:focus {
	border:none;
	outline:none;
}
.miner {
	background-color:gray;
	color:black;
}
.minerContainer {
	top:330px;
	left:40%;
}
.logger {
	background-color:brown;
	color:white;
}
.loggerContainer {
	left:0;
	top:30%;
}
img.icon {
	width:25px;
	height:20px;
}
.hunter {
	background-color:darkgreen;
	color: white;
}
.hunterContainer {
	right:0;
	top:0;
}
.worker {
	font-size:12px;
	text-align:center;
	margin:1px;
	padding:5px;
	background-color:lightgray;
	color:black;
}
.worker h2 {
	text-align:center;
}
.workerContainer {
	z-index:1;
	width: 300px;
}
.building {
	font-size:12px;
	text-align:center;
	margin:1px;
	width:138px;
	padding:5px;
	height:35px;
	background-color:lightgray;
	color:black;
	float:left;
}
.building:hover {
	cursor:pointer;
	opacity:1;
}
.building div {
	text-align: center;
}
.buildingContainer {
	width: 300px;
	margin:0;
}
.resource {
	position:absolute;
	z-index:3;
	margin:0 !important;
	padding:0 !important;
}
.foodColor {
	background-color:red;
}
.tree {
	
}
.woodColor {
	background-color: green;
}
.stoneColor {
	background-color: gray;
}
.desc {
	background-color:lightgray;
	color:black;
	display:block;
	padding:5px;
	z-index: 999;
}
.transparent {
	opacity:0.5;
}
.symbol {
	vertical-align: middle;
}






#managerView {
	position:fixed;
	left:10px;
	top: 200px;
	width:300px;
	z-index:9999;
	padding:5px;
}

#selectView {
	height:100px;
	position:fixed;
	left:10px;
	top: 80px;
	width:300px;
	padding:5px;
	z-index:100;
}
#buyList {
	width:100px;
}





.landscape {
	position:absolute;
	z-index: 1;
	margin:0 auto;
}
.sky {
	background-color: deepskyblue;
	position:absolute;
	z-index: 1;
	margin:0 auto;
	top:0;
	height:800px;
	width:1920px;
}
.ground {
	background-color: forestgreen;
	position:absolute;
	z-index: 2;
	margin:0 auto;
	height:800px;
	width:1920px;
	bottom:0;
}




.inlineList {
	list-style-type: none;
	padding:0;
	padding: 5px;
}
.inlineList .rec { 
	display: inline-block;
	text-decoration: none;
	color: #fff;
	width:74px;
	padding:5px 10px;
	font-size:20px;
}


.verticalList {
	list-style-type: none;
	text-align: center;
	color: #fff;
	background-color: brown;
	
}



g#g2886:hover{
	opacity:0.8;
}

